<launch>
	<node name = "therma_sensor" pkg = "simple_robot" type = "ThermalSensor.py" output = "screen"></node>
	<node name = "victim_detector" pkg = "simple_robot" type = "VictimDetector.py" output = "screen"></node>
	<node name = "pose_server" pkg = "simple_robot" type = "PoseServer.py" output = "screen"></node>
	<node name = "pose_client" pkg = "simple_robot" type = "PoseClient.py" output = "screen"></node>
</launch>
